using UnityEditor;
using UnityEngine;

namespace {{Namespace}}.Editor
{
    internal static class PackageEditorEntryPoint
    {
        [MenuItem("Tools/{{DisplayName}}/About")]
        private static void About()
        {
            EditorUtility.DisplayDialog(
                PackageInfo.DisplayName,
                $"{PackageInfo.DisplayName}\nPackage: {PackageInfo.PackageId}",
                "OK");
        }
    }
}
