{
  "name": "{{PackageId}}",
  "version": "0.1.0",
  "displayName": "{{DisplayName}}",
  "description": "{{Description}}",
  "unity": "{{UnityMinVersion}}",
  "author": {
    "name": "{{Author}}",
    "url": "https://github.com/{{Author}}"
  },
  "repository": {
    "type": "git",
    "url": "https://github.com/{{Author}}/{{PackageName}}.git"
  },
  "documentationUrl": "https://github.com/{{Author}}/{{PackageName}}",
  "changelogUrl": "https://github.com/{{Author}}/{{PackageName}}/blob/main/CHANGELOG.md",
  "licensesUrl": "https://github.com/{{Author}}/{{PackageName}}/blob/main/LICENSE",
  "license": "{{License}}",
  "dependencies": {},
  "samples": [
    {
      "displayName": "Basic",
      "description": "Minimum usage example",
      "path": "Samples~/Basic"
    }
  ]
}
